{%extends 'navbar.html'%}

{%load static%}

{%block content%}

    <p>
      <h1><b><center> CATALOG </center> </b> </h1>
      <br>
      <br>

      <h2> <center>WANT TO GRAB SOME FREE BASIC COURSES?</center></h1>
      <h3> <center>REGISTER NOW !!!</center></h3></a>
      <br>
      <br>
      </p>
    <p> <h1> Here are some amazing courses which u should try!!!!</h1>
      <br>

    </p>
    <a href="https://www.udemy.com/course/html5-fundamentals-for-beginners/" target="_blank"><h3> HTML 5 AND CSS FUNDAMENTALS FOR BEGINNERS</h3></a>
    <a href="https://www.coursera.org/learn/machine-learning "target="_blank"><h3> MACHINE LEARNING</h3></a>
    <a href="https://www.coursera.org/learn/careerdevelopment" target="_blank"><h3> CAREER DEVELOPMENT</h3></a>
    <a href="https://www.udemy.com/course/free-learn-c-tutorial-beginners/"target="_blank"><h3> C FOR BEGINNERS</h3></a>
    <a href="https://www.udemy.com/course/pythonforbeginnersintro/ "target="_blanK"><h3>PYTHON FOR BEGINNERS</h3></a>
    <a href= "https://www.udemy.com/topic/java/free/ "target="_blank"><h3> JAVA</h3></a>
    <a href="https://www.coursera.org/learn/ai-for-everyone" target="_blank"><h3> ARTIFICIAL INTELLIGENCE</h3></a>
    <a href="https://www.coursera.org/specializations/data-structures-algorithms" target="_blank"><h3> DATA STRUCTURES AND ALGORITHMS</h3></a>

{%endblock%}
